    @import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
    body {
        color: #c6d4df;
        background-color: rgba(245, 245, 245, 0.382);
        background-position: center top;
        background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1105420/page_bg_generated_v6b.jpg?t=1667532623");
        background-repeat: no-repeat;
        background-color: #1b2838;
        background-size: 100%;
    }
    
    h1 {
        text-align: center;
        font-family: 'Gloock', serif;
        padding: 10px;
        margin: 35px;
        transition: color .5s ease-in-out;
    }
    
    h1:hover {
        color: #100728;
    }
    
    #imgHeader {
        border-radius: 10px;
        width: 100%;
        height: 50%;
    }
    
    li {
        list-style: none;
        margin: 10px;
        transition: all .3s ease-in-out;
        padding: 10px;
    }
    
    li:hover {
        margin-left: 5px;
    }
    
    .general li {
        list-style: circle;
    }
    /* .seasonSection {
        background: linear-gradient(to right, hwb(214 17% 66%), #1b2838);
        box-shadow: -6px 6px 6px #f5f5fb79;
    } */
    
    .poster {
        margin-bottom: 80px !important;
    }
    
    details {
        margin: 5px;
        background: linear-gradient(to right, hwb(214 17% 66%), #1b2838);
        box-shadow: -6px 6px 6px #f5f5fb79;
        transition: all .25s ease;
    }
    
    details:hover {
        /* margin: 7px; */
        color: rgba(2, 2, 5, 0.714);
        box-shadow: -6px 6px 3px rgba(2, 2, 5, 0.714);
    }
    
    details summary {
        transition: margin 300ms ease-out;
    }
    
    details[open] summary {
        margin: 10px;
    }
    
    details[open] {
        color: #c6d4df;
        margin: 10px;
        box-shadow: -6px 6px 6px #f5f5fb79;
    }
    
    footer {
        padding: 50px;
        background-color: #171a21;
        text-align: center;
        margin-top: 80px;
        /* background-size: 100%; */
    }
    
    .dropdown-menu li {
        position: relative;
    }
    
    .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    
    .dropdown-menu .dropdown-submenu-left {
        right: 100%;
        left: auto;
    }
    
    .dropdown-menu>li:hover>.dropdown-submenu {
        display: block;
    }
    
    #navbarDropdownMenuLink {
        color: #c6d4df;
    }
    
    .afterClick {
        background-color: hsl(223, 17%, 16%);
    }
    
    .afterMouseLeave {
        background: linear-gradient(to right, hwb(214 17% 66%), #1b2838);
    }
    
    a.btn {
        background-color: #1b2838;
        font-weight: lighter;
        box-shadow: -5px 3px 6px hwb(224 43% 44%);
    }